*{
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.wapper{
    width: 80%;
    margin: 0 auto;
}

.color-white{
    color: white !important;
}


/* nav bar */
nav{
    border-bottom: 2px solid #f9d6d6;
}

.navbar{
    margin-top: 1.5rem;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-logo{
    width: 200px;
}

.nav-menu{
    display: flex;
}

.nav-menu li{
    list-style: none;
    vertical-align: middle;
    margin-left:2.5rem;
}

.nav-menu a{
    color: #434343;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.button-pink{
    background-color: #ec6b49;
    border: none;
    border-radius: 50px;
    padding: 0.625rem 1.25rem;
}

.show-menu,.hide-menu{
    transition: 0.4s;
    display: none;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.second{
    background-color: #ebebeb;
    line-height: 2;

}

.change-link a{
    text-decoration: none;
}

header{
    height:auto;
    position: relative;
}

.header-info{
    position: absolute;
    z-index: 1100;
    left: 10%;
    top: 11rem;
}

.header-title{
    font-weight: bold;
    font-size: 2.75rem;
    color: #434343;
}

.header-content{
    margin: 2.5rem 0;
    font-size: 1.5rem;
}

.search-bar{
    width: 50%;
}

.header-search{
    border: 2px solid #d2d6da;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.header-input{
    margin-left:0.625rem;
    font-size:1.25rem;
    width:60%;
    height: 3.125rem;
    border: none;
    outline: none;
    color: #9DBFAF;

}

.header-button{
    display: flex;
    align-items: center;
}

.header-button a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header-bg{
    width: 100%;
}

/* section */
.section-info{
    height: 100px;
    display: grid;
    border-top: 2px solid #d2d6da;
    border-bottom: 2px solid #d2d6da;

}
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header i{
    color: #cccccc;
    font-size: 30px;
    margin-right: 20px;
}

.section-filter{
    display: inline-flex;
}

.section-nation,.section-topic{
    border-bottom: 2px solid #cccccc;
    width: 14.625rem;
    margin-left: 1.25rem;
    display: flex;
    justify-content: space-between;

}

.section-filter input{
    border: 0;
    color: #cccccc;
    font-size: 1.125rem;
}

.section-filter i{
    color: #cccccc;
    font-size: 1.125rem;
}


/* section-rerult */

.section-table{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}


th{
    text-align: left;
}

.section-table img{
    width: 200px;
    margin-bottom: 30px;
}

.result-title{
    margin-bottom: 30px;
}

.section-table>div{
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
}











/* Responsive */

@media screen and (max-width: 1333px){
    .wapper{
        width:80%;
    }
    .header-info{
        top: 7rem;
    }

}


@media screen and (max-width: 1280px){
    *{
        font-size:12px;
    }
    .wapper{
        width:80%;
    }
    .header-info{
        top: 5rem;
    }
    .section-table{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

}


@media screen and (max-width: 1024px){
    *{
        font-size:14px;
    }
    .wapper{
        width:80%;
    }
    header{
        height: 410px;
    }
    .header-info{
        top: 2rem;
    }
    .show-menu,.hide-menu{
        display: block;
    }
    .nav-menu{
        padding: 80px;
        position: fixed;
        flex-direction: column;
        text-align: center;
        z-index: 1300;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        background: #333;
    }
    .nav-menu a,i{
        color: #fff;
        display: block;
        padding: 30px;
    }

    .show-menu i{
        color: #434343;
        font-size: 44px;
    }


    .hide-menu{
        position: absolute;
        top:0;
        right:0;
    }

    .nav-menu i{
        font-size: 30px;
    }
    .button-pink{
        padding: 0px;
    }
    #chk:checked ~ .nav-menu{
        right:0;
    }


}

@media screen and (max-width: 768px){
    .wapper{
        width:80%;
    }

    header{
        height: 305px;
    }

    .header-content{
        margin: 1rem 0;
        font-size: 1rem;
    }

    .section-header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

    }
    .section-nation,.section-topic{
        width: 10rem;
        margin-left: 0;
        margin-right: 1.25rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
    }
    .section-filter input{
        width: 8.75rem;
    }

    .section-table{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

}


@media screen and (max-width:660px){
    header{
        height: 270px;
    }
    .header-info{
        top: 3rem;
    }
    .header-title{
        font-size: 1.7rem;
    }
    .header-content{
        margin: 1.5rem 0;
        font-size: 1rem;
    }
    .search-bar{
        width: 100%;
    }

    .header-bg{
        display: none;
    }
    .section-table{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

}

@media screen and (max-width:320px){
    header{
        height: 310px;
    }
    .section-nation,.section-topic{
        width: 7rem;
        margin-left: 0;
        margin-right: 1.25rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
    }
    .section-filter input{
        width: 5.75rem;
    }
}